Flask==3.0.3
Flask-CORS
Flask-Login==0.6.3
Flask-Migrate
Flask-SocketIO
Flask-SQLAlchemy==3.1.1
SQLAlchemy>=2.0.36,<2.1
alembic>=1.14.0
psycopg2-binary
python-dotenv
PyJWT
gevent>=24.2.1
redis>=5.0.0
flask-swagger-ui
google-auth
requests
Werkzeug==3.0.3
