{% extends 'base.html' %}

{% block title %} Заполнение профиля {% endblock %}

{% block body %}
<h1>Заполните профиль</h1>
<form action="/profile" method="POST" class="forms">
    <p><label>Имя: </label> <input type="text" name="name" value ="" required /></p>
    <p><label>Вес: </label> <input type="number" name="weight" value ="" required /></p>
    <p><label>Рост: </label> <input type="number" name="height" value ="" required /></p>    
    <p><label>Возраст: </label> <input type="number" name="age" value ="" required /></p>    
    <p><label>Пол</label></p>
    <p><input type="radio" id="contactChoice1" name="sex" value="Мужской" required />
        <label for="contactChoice1">Мужской</label>
        <input type="radio" id="contactChoice2" name="sex" value="Женский" />
        <label for="contactChoice2">Женский</label></p> 
    <p><input type="submit" value="Применить"></p>
</form>
{% endblock %}